* {
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, Georgia, sans-serif;
}

@font-face {
	font-family: RioGrande;
	src: url(../fonts/RioGrande.ttf);
}
body {
	background-color: red;

}

header {
	display: block;
	top: 0;
	width: 100%;
	height: 190px;
	background: blue;
	border-bottom: 12px solid green;

}

.underscore {
 	height: 150px;
	font-size: 50px;
	padding: 40px;
	text-align: center;
	margin: 60px auto;

}
#play-again {
	display: block;
	width: 120px;
	margin: 0 auto;
}



h1 {
	font-family: RioGrande;
	font-size: 140px;
	font-style: bold;
	margin: 0 auto;
	text-align: center;
	color: white;

}

h2 {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	color: white;
}

h3 {
	margin: 0 auto 0;
	font-size: 42px;
	text-align: center;
	color: #fff;
}


p {
	font-family: Arial;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	color: white;
}